# Importing All of Texas flight delay info into dataframe

In [1]:
# IMPORT MODULES
import pandas as pd
import os
import glob
import csv

## quick test

> checking format and schema of the table to ensure formatting and information

In [2]:
test_csv = "../../drafts/rawdata/texas2022/apr-2022.csv"

In [3]:
test_df = pd.read_csv(test_csv)

In [4]:
len(test_df)

101680

In [5]:
test_df.dtypes

YEAR                       int64
QUARTER                    int64
MONTH                      int64
FL_DATE                   object
OP_UNIQUE_CARRIER         object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
ORIGIN_CITY_NAME          object
ORIGIN_STATE_NM           object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
DEST_CITY_NAME            object
DEST_STATE_NM             object
DEP_DELAY                float64
TAXI_OUT                 float64
WHEELS_OFF               float64
WHEELS_ON                float64
TAXI_IN                  float64
ARR_DELAY                float64
CANCELLED                float64
CANCELLATION_CODE         object
DIVERTED                 float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
DIV_DISTANCE             float64
dtype: object

In [6]:
test_df.head(3)

,YEAR,QUARTER,MONTH,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_DISTANCE
0,2022,2,4,4/1/2022 12:00:00 AM,9E,N136EV,4650,10423,1042302,30423,...,-6.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,2,4,4/1/2022 12:00:00 AM,9E,N136EV,4650,11193,1119302,33105,...,2.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,2,4,4/1/2022 12:00:00 AM,9E,N600LR,4628,10423,1042302,30423,...,48.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,48.0,NaN

### Glob Importer 

Source download: 
> monthly reports for the state of Texas from the Bureau of Transportation Statistics https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FGJ&QO_fu146_anzr=b0-gvzr

In [7]:
# IMPORT FILE PATHS 
active_project = "../../../Project3/drafts/rawdata/texas2022/"
csv_output = "../../../Project3/drafts/alberto/texas_2022_delays.csv"

file_paths = glob.glob(os.path.join(active_project, "*.csv"))

In [8]:
# setting up the list for all raw dfs
all_df = []

# listing turning movement counts as current 
current_csv_list = []

for file in file_paths:
    current_csv_list.append(file)

In [9]:
# printing the length list to confirm number of csv's
print(len(current_csv_list))

12

In [10]:
# function to read all csvs listed 

def read_csv(file_path):
    try:
        imp_df = pd.read_csv(file_path, 
                             sep='delimiter',
                             header=None,
                             engine='python'
                            )
        return imp_df #imp_df as in imported dataframe
    except pd.errors.ParserError as e:
        return (file_path, f"Error parsing CSV: {str(e)}")  # Return tuple with file path and error message
    except FileNotFoundError:
        return (file_path, "File not found")  # Return tuple with file path and error message

In [11]:
## validating dataframes - sometimes there's errors

for file_path in current_csv_list:
    imp_df = read_csv(file_path)  # Assign the returned DataFrame to imp_df
    all_df.append(imp_df)  # Append imp_df to all_df

valid_dfs = [df for df in all_df if isinstance(df, pd.DataFrame)]  # Filter out non-DataFrame objects

In [12]:
## printing length of list of df's that should match to the previous length list
print(len(valid_dfs))

12

In [13]:
## modify each dataframe

def modify_in_df(df):
 # modifications to the df go here - first check through test above
    df = modif
return modif

SyntaxError: 'return' outside function (1557062187.py, line 6)

In [14]:
## loop through dataframes

modified_df_list = []  # List to store the modified DataFrames
error_log = []  # List to store the error details
df = pd.DataFrame()

for i in range(len(valid_dfs)):
    try:
        df = valid_dfs[i]  # Retrieve the DataFrame by index
        modified_df = df # use this step to Modify the DataFrame
        modified_df_list.append(modified_df)  # Append the modified DataFrame to the list
    except Exception as e:
        error_log.append((i, str(e)))  # Log the index and error message

In [15]:
## concatenate through all the lists

big_df = pd.concat(modified_df_list, ignore_index=True)

In [16]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245034 entries, 0 to 1245033
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       1245034 non-null  object
dtypes: object(1)
memory usage: 9.5+ MB

### Operating Notes 
This dataframe is initially pretty big as a csv (+250MB) but as a dataframe its under 10MB.

In [17]:
## big_df.to_csv(csv_output, index=False) testing the batch size