# Importing All of Texas flight delay info into dataframe

In [1]:
# IMPORT MODULES
import pandas as pd
import os
import glob
import csv

## quick test

> checking format and schema of the table to ensure formatting and information

In [2]:
test_csv = "../../drafts/rawdata/texas2022/apr-2022.csv"

In [3]:
test_df = pd.read_csv(test_csv)

In [4]:
len(test_df)

101680

In [5]:
test_df.dtypes

YEAR                       int64
QUARTER                    int64
MONTH                      int64
FL_DATE                   object
OP_UNIQUE_CARRIER         object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
ORIGIN_CITY_NAME          object
ORIGIN_STATE_NM           object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
DEST_CITY_NAME            object
DEST_STATE_NM             object
DEP_DELAY                float64
TAXI_OUT                 float64
WHEELS_OFF               float64
WHEELS_ON                float64
TAXI_IN                  float64
ARR_DELAY                float64
CANCELLED                float64
CANCELLATION_CODE         object
DIVERTED                 float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
DIV_DISTANCE             float64
dtype: object

In [6]:
test_df.head(3)

,YEAR,QUARTER,MONTH,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_DISTANCE
0,2022,2,4,4/1/2022 12:00:00 AM,9E,N136EV,4650,10423,1042302,30423,...,-6.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,2,4,4/1/2022 12:00:00 AM,9E,N136EV,4650,11193,1119302,33105,...,2.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,2,4,4/1/2022 12:00:00 AM,9E,N600LR,4628,10423,1042302,30423,...,48.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,48.0,NaN

### Glob Importer 

Source download: 
> monthly reports for the state of Texas from the Bureau of Transportation Statistics https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FGJ&QO_fu146_anzr=b0-gvzr

In [2]:
# IMPORT FILE PATHS 
active_project = "../../../Project3/drafts/rawdata/texas2022/"
csv_output = "../../../Project3/drafts/alberto/texas_2022_delays.csv"

file_paths = glob.glob(os.path.join(active_project, "*.csv"))

In [3]:
# setting up the list for all raw dfs
all_df = []

# listing turning movement counts as current 
current_csv_list = []

for file in file_paths:
    current_csv_list.append(file)

In [9]:
# printing the length list to confirm number of csv's
print(len(current_csv_list))

12

In [4]:
# function to read all csvs listed 

def read_csv(file_path):
    try:
        imp_df = pd.read_csv(file_path, 
                             sep='delimiter',
                             header=None,
                             engine='python'
                            )
        return imp_df #imp_df as in imported dataframe
    except pd.errors.ParserError as e:
        return (file_path, f"Error parsing CSV: {str(e)}")  # Return tuple with file path and error message
    except FileNotFoundError:
        return (file_path, "File not found")  # Return tuple with file path and error message

In [5]:
## validating dataframes - sometimes there's errors

for file_path in current_csv_list:
    imp_df = read_csv(file_path)  # Assign the returned DataFrame to imp_df
    all_df.append(imp_df)  # Append imp_df to all_df

valid_dfs = [df for df in all_df if isinstance(df, pd.DataFrame)]  # Filter out non-DataFrame objects

In [12]:
## printing length of list of df's that should match to the previous length list
print(len(valid_dfs))

12

In [6]:
## modify each dataframe

def modify_in_df(df):
 # modifications to the df go here - first check through test above
    df = modif
return modif

SyntaxError: 'return' outside function (1557062187.py, line 6)

In [7]:
## loop through dataframes

modified_df_list = []  # List to store the modified DataFrames
error_log = []  # List to store the error details
df = pd.DataFrame()

for i in range(len(valid_dfs)):
    try:
        df = valid_dfs[i]  # Retrieve the DataFrame by index
        modified_df = df # use this step to Modify the DataFrame
        modified_df_list.append(modified_df)  # Append the modified DataFrame to the list
    except Exception as e:
        error_log.append((i, str(e)))  # Log the index and error message

In [8]:
## concatenate through all the lists

big_df = pd.concat(modified_df_list, ignore_index=True)

In [11]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245034 entries, 0 to 1245033
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       1245034 non-null  object
dtypes: object(1)
memory usage: 9.5+ MB

In [16]:
raw_data_startrow = big_df.index[big_df.iloc[:, 0] == "YEAR,QUARTER,MONTH,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_NM,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_DISTANCE"].tolist()[0]
raw_data = big_df.iloc[raw_data_startrow:, :]  # Extract from the starting row onwards
raw_data.reset_index(drop=True, inplace=True)
raw_data = raw_data.rename(columns={raw_data.columns[0]:"rawdata"})
raw_table = raw_data["rawdata"].str.split(',',expand=True) #split columns
raw_header = raw_table.iloc[0]
raw_table.columns = raw_header  # Set the new header
raw_table = raw_table.iloc[1:]  # Remove the first row

In [18]:
raw_table

,YEAR,QUARTER,MONTH,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_DISTANCE,None,None
1,2022,2,4,4/1/2022 12:00:00 AM,9E,N136EV,4650,10423,1042302,30423,...,-6.00,0.00,,0.00,,,,,,
2,2022,2,4,4/1/2022 12:00:00 AM,9E,N136EV,4650,11193,1119302,33105,...,2.00,0.00,,0.00,,,,,,
3,2022,2,4,4/1/2022 12:00:00 AM,9E,N600LR,4628,10423,1042302,30423,...,48.00,0.00,,0.00,0.00,0.00,0.00,0.00,48.00,
4,2022,2,4,4/1/2022 12:00:00 AM,9E,N600LR,4628,14492,1449202,34492,...,68.00,0.00,,0.00,0.00,0.00,15.00,0.00,53.00,
5,2022,2,4,4/1/2022 12:00:00 AM,AA,N104UW,1314,14100,1410005,34100,...,15.00,0.00,,0.00,6.00,0.00,9.00,0.00,0.00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245029,2022,3,9,9/30/2022 12:00:00 AM,YX,N114HQ,4723,12266,1226603,31453,...,-39.00,0.00,,0.00,,,,,,
1245030,2022,3,9,9/30/2022 12:00:00 AM,YX,N135HQ,4816,12266,1226603,31453,...,11.00,0.00,,0.00,,,,,,
1245031,2022,3,9,9/30/2022 12:00:00 AM,YX,N135HQ,4816,12953,1295304,31703,...,-11.00,0.00,,0.00,,,,,,
1245032,2022,3,9,9/30/2022 12:00:00 AM,YX,N432YX,4606,12266,1226603,31453,...,-19.00,0.00,,0.00,,,,,,
1245033,2022,3,9,9/30/2022 12:00:00 AM,YX,N432YX,4639,12953,1295304,31703,...,-1.00,0.00,,0.00,,,,,,

In [10]:
big_df.dtypes

0    object
dtype: object

### Operating Notes 
This dataframe is initially pretty big as a csv (+250MB) but as a dataframe its under 10MB.

In [17]:
## big_df.to_csv(csv_output, index=False) testing the batch size

In [23]:
truncated_df = raw_table[(raw_table['ORIGIN_AIRPORT_ID'] == '12266') | (raw_table['DEST_AIRPORT_ID'] == '12266')]

In [24]:
truncated_df

,YEAR,QUARTER,MONTH,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_DISTANCE,None,None
18,2022,2,4,4/1/2022 12:00:00 AM,AA,N119US,2444,12266,1226603,31453,...,-6.00,0.00,,0.00,,,,,,
158,2022,2,4,4/1/2022 12:00:00 AM,AA,N318SF,1953,12266,1226603,31453,...,,1.00,C,0.00,,,,,,
176,2022,2,4,4/1/2022 12:00:00 AM,AA,N341RW,1474,12266,1226603,31453,...,58.00,0.00,,0.00,58.00,0.00,0.00,0.00,0.00,
343,2022,2,4,4/1/2022 12:00:00 AM,AA,N749US,2442,12266,1226603,31453,...,-21.00,0.00,,0.00,,,,,,
359,2022,2,4,4/1/2022 12:00:00 AM,AA,N762US,971,12266,1226603,31453,...,-11.00,0.00,,0.00,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244985,2022,3,9,9/30/2022 12:00:00 AM,YV,N93305,6354,12266,1226603,31453,...,-8.00,0.00,,0.00,,,,,,
1244991,2022,3,9,9/30/2022 12:00:00 AM,YV,N946LR,5894,12266,1226603,31453,...,-14.00,0.00,,0.00,,,,,,
1245029,2022,3,9,9/30/2022 12:00:00 AM,YX,N114HQ,4723,12266,1226603,31453,...,-39.00,0.00,,0.00,,,,,,
1245030,2022,3,9,9/30/2022 12:00:00 AM,YX,N135HQ,4816,12266,1226603,31453,...,11.00,0.00,,0.00,,,,,,
1245032,2022,3,9,9/30/2022 12:00:00 AM,YX,N432YX,4606,12266,1226603,31453,...,-19.00,0.00,,0.00,,,,,,

In [28]:
# Rename duplicate columns
truncated_df.rename(columns={'none': 'none_1'}, inplace=True)

# Export DataFrame to JSON with 'index' orientation
json_data = df.to_json(orient='records')

# Save JSON data to a file
with open('data.json', 'w') as f:
    f.write(json_data)

C:\Users\MOTHERSHIP\AppData\Local\Temp\ipykernel_7476\80406676.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truncated_df.rename(columns={'none': 'none_1'}, inplace=True)