# Data ETL

In [3]:
import pandas as pd

## Historical

In [5]:
# get historical data 
historical_path = "historical_iah.py"

def historical():
    %run $historical_path
    return historical_iah

aih_hist = historical()

In [6]:
aih_hist.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,AA,2013-01-01,0466,N3JTAA,MIA,06:00,05:56,140,151,-4,06:18,22,0,0,0,0,0
1,AA,2013-01-01,0472,N514AA,DFW,16:00,15:58,75,66,-2,16:16,18,0,0,0,0,0
2,AA,2013-01-01,1294,N3CEAA,MIA,17:35,17:34,145,147,-1,18:00,26,0,0,0,0,0
3,AA,2013-01-01,1316,N566AA,DFW,17:45,18:39,80,66,54,18:56,17,0,0,0,0,40
4,AA,2013-01-01,1622,N470AA,DFW,19:55,21:07,70,65,72,21:21,14,3,0,0,0,64

In [ ]:
# group by carrier code 
carrier_group = aih_hist.groupby(['Carrier Code']).nunique()

In [15]:
carrier_group

,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
Carrier Code,,,,,,,,,,,,,,,,
9E,1137,205,220,7,164,725,69,152,214,762,68,87,22,67,2,142
AA,3772,721,1633,10,693,1153,132,250,596,1160,138,421,208,185,22,410
AS,3770,26,194,2,61,552,38,143,189,570,69,99,50,80,11,107
B6,1078,6,224,3,102,562,42,116,217,582,58,91,13,83,1,137
DL,3772,760,828,8,605,1102,119,206,534,1113,112,409,105,175,11,288
EV,2830,1693,437,98,971,1193,182,261,599,1194,151,442,313,308,8,325
F9,3720,91,175,14,569,1265,105,224,345,1270,91,165,40,155,1,247
MQ,2406,139,202,5,198,923,61,207,277,941,89,158,72,139,5,178
NK,3029,213,217,24,662,1258,161,272,448,1258,115,293,172,291,40,284
OO,3772,1718,538,114,959,1209,213,287,666,1209,143,543,287,216,66,352
UA,3772,2147,988,88,1123,1334,330,535,778,1332,160,506,419,368,11,487
US,911,395,333,4,114,866,67,166,237,903,102,154,33,122,8,153
WN,749,724,813,9,192,1074,31,202,288,1084,86,154,49,120,15,204
YX,1888,496,201,68,420,1144,182,249,365,1154,115,225,150,184,9,239

In [16]:
dest_airport = aih_hist.groupby(['Destination Airport']).nunique()

In [17]:
dest_airport

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
Destination Airport,,,,,,,,,,,,,,,,
ABI,1,345,5,122,15,181,9,46,98,205,41,35,12,3,1,11
ABQ,4,3502,476,992,307,844,31,109,231,892,90,149,54,92,4,153
ACY,2,246,2,99,4,65,5,54,69,79,35,19,3,20,1,22
AEX,2,2894,100,353,209,760,21,86,217,813,75,130,45,91,1,135
AGS,1,4,3,4,3,4,1,4,3,4,4,3,1,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TYR,1,1190,73,209,128,565,16,70,150,623,57,80,11,62,1,85
TYS,4,2864,166,303,233,757,26,106,238,793,86,158,48,98,1,142
VCT,1,902,21,127,37,393,14,63,141,429,53,67,11,4,1,39
VPS,2,2801,163,352,210,765,24,102,205,783,75,130,54,91,1,129
XNA,4,3003,285,600,318,838,27,114,247,859,87,150,69,111,1,155

## Current

In [8]:
# get historical data 
current_path = "current_iah.py"

def current():
    %run $current_path
    return current_iah

aih_curr = current()

In [9]:
aih_curr.head()

,YEAR,QUARTER,MONTH,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_DISTANCE,None,None
18,2022,2,4,4/1/2022 12:00:00 AM,AA,N119US,2444,12266,1226603,31453,...,-6.00,0.00,,0.00,,,,,,
158,2022,2,4,4/1/2022 12:00:00 AM,AA,N318SF,1953,12266,1226603,31453,...,,1.00,C,0.00,,,,,,
176,2022,2,4,4/1/2022 12:00:00 AM,AA,N341RW,1474,12266,1226603,31453,...,58.00,0.00,,0.00,58.00,0.00,0.00,0.00,0.00,
343,2022,2,4,4/1/2022 12:00:00 AM,AA,N749US,2442,12266,1226603,31453,...,-21.00,0.00,,0.00,,,,,,
359,2022,2,4,4/1/2022 12:00:00 AM,AA,N762US,971,12266,1226603,31453,...,-11.00,0.00,,0.00,,,,,,

In [19]:
# group by carrier code 
carriers_aih = aih_curr.groupby(['OP_UNIQUE_CARRIER']).nunique()

In [20]:
carriers_aih

,YEAR,QUARTER,MONTH,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,...,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_DISTANCE,None,None
OP_UNIQUE_CARRIER,,,,,,,,,,,,,,,,,,,,,
AA,1,4,12,365,741,56,1,1,1,1,...,337,2,4,2,181,74,97,4,200,2
AS,1,4,12,364,167,4,1,1,1,1,...,131,2,3,2,39,12,41,2,48,2
B6,1,4,12,364,188,3,1,1,1,1,...,178,2,3,2,58,4,63,2,98,2
DL,1,4,12,365,334,105,1,1,1,1,...,300,2,4,2,177,28,72,3,165,3
F9,1,4,12,365,117,14,1,1,1,1,...,192,2,3,1,67,13,68,2,117,1
MQ,1,4,12,355,106,24,1,1,1,1,...,136,2,3,2,37,17,51,3,63,2
NK,1,4,12,365,193,52,1,1,1,1,...,294,2,4,2,146,109,133,9,166,2
OH,1,1,1,8,8,1,1,1,1,1,...,8,2,2,1,2,2,2,2,2,1
OO,1,4,12,365,416,339,1,1,1,1,...,349,2,4,2,219,104,42,5,204,6
UA,1,4,12,365,810,871,1,1,1,1,...,458,2,5,2,273,169,201,3,302,7
WN,1,4,12,365,758,371,1,1,1,1,...,250,2,5,2,109,29,89,10,158,2
YV,1,4,12,365,132,302,1,1,1,1,...,386,2,5,2,298,131,147,7,124,6
YX,1,4,12,351,100,19,1,1,1,1,...,165,2,4,2,39,14,68,2,59,4

In [21]:
carriers_aih_flight = aih_curr.groupby(['OP_UNIQUE_CARRIER','OP_CARRIER_FL_NUM']).nunique()
carriers_aih_flight

0                                    YEAR  QUARTER  MONTH  FL_DATE  TAIL_NUM  \
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM
AA                1155                  1        1      1       17        17
                  1224                  1        4     12      364       244
                  1230                  1        1      2       28        20
                  1254                  1        1      2       29        22
                  1315                  1        4      9      166        87
...                                   ...      ...    ...      ...       ...
YX                4898                  1        1      2        4         4
                  4907                  1        2      3       23        17
                  4922                  1        1      3       52        27
                  4935                  1        1      1        3         3
                  5018                  1        1      3       53        41

0                                    ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  \
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM
AA                1155                               1                      1
                  1224                               1                      1
                  1230                               1                      1
                  1254                               1                      1
                  1315                               1                      1
...                                                ...                    ...
YX                4898                               1                      1
                  4907                               1                      1
                  4922                               1                      1
                  4935                               1                      1
                  5018                               1                      1

0                                    ORIGIN_CITY_MARKET_ID  ORIGIN  \
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM
AA                1155                                   1       1
                  1224                                   1       1
                  1230                                   1       1
                  1254                                   1       1
                  1315                                   1       1
...                                                    ...     ...
YX                4898                                   1       1
                  4907                                   1       1
                  4922                                   1       1
                  4935                                   1       1
                  5018                                   1       1

0                                    ORIGIN_CITY_NAME  ...  CANCELLATION_CODE  \
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM                    ...
AA                1155                              1  ...                 15
                  1224                              1  ...                 96
                  1230                              1  ...                 20
                  1254                              1  ...                 24
                  1315                              1  ...                 86
...                                               ...  ...                ...
YX                4898                              1  ...                  4
                  4907                              1  ...                 20
                  4922                              1  ...                 40
                  4935                              1  ...                  3
                  5018                              1  ...                 43

0                                    DIVERTED  CARRIER_DELAY  WEATHER_DELAY  \
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM
AA                1155                      1              1              1
                  1224                      2              3              2
                  1230                      2              2              1
                  1254                      1              1              1
                  1315                      2              3              2
...                                       ...            ...            ...
YX                4898                      1              1              1
                  4907                      2              2              1
                  4922                      2              2              1
                  4935                      1              1              1
                  5018                      2              2              1

0                                    NAS_DELAY  SECURITY_DELAY  \
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM
AA                1155                       5               2
                  1224                      30               6
                  1230                       2               2
                  1254                       8               4
                  1315                      20               5
...                                        ...             ...
YX                4898                       1               1
                  4907                       2               2
                  4922                       4               3
                  4935                       1               1
                  5018                       6               3

0                                    LATE_AIRCRAFT_DELAY  DIV_DISTANCE  None  \
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM
AA                1155                                 4             2     2
                  1224                                31             2     4
                  1230                                 2             2     2
                  1254                                12             2     7
                  1315                                18             2    42
...                                                  ...           ...   ...
YX                4898                                 1             1     1
                  4907                                 4             2     5
                  4922                                 8             2     6
                  4935                                 1             1     1
                  5018                                 8             2     8

0                                    None
OP_UNIQUE_CARRIER OP_CARRIER_FL_NUM
AA                1155                  1
                  1224                  2
                  1230                  1
                  1254                  1
                  1315                  2
...                                   ...
YX                4898                  1
                  4907                  1
                  4922                  1
                  4935                  1
                  5018                  1

[2161 rows x 34 columns]